{snip_community_redirect}
<!-- begin embed groups/picture -->
{snip_group_found}
<?php

// do we have enough permission to view/edit group? comment/uncomment code depending on privilege level (super-admin, group-admin, group-member, logged-in, anyone)
	$group_access = false;
	$is_admin = false;
	$is_member = false;
	$is_pending_member = false;
	$is_logged_in = false;

	// are we a super admin?
	if($this->EE->session->userdata['group_id'] == 1){
		$group_access = true;
		$is_admin = true;
	}

	// get all group member data - this will be used to see if user is a group admin, group member, or group pending member
	$all_members = array();
	$admin_members = array();
	$current_members = array();
	$pending_members = array();
	$all_members_query = 
	"SELECT groups_members.member_id, groups_members.status, groups_members.is_admin, exp_members.screen_name 
	FROM groups_members
	LEFT JOIN exp_members 
	ON groups_members.member_id=exp_members.member_id 
	WHERE groups_members.group_id = '{$group_id}'";
	
	$members_results = $this->EE->db->query($all_members_query);
	if($members_results->num_rows()){
		foreach($members_results->result_array() as $row){
			$all_members[] = $row;
			
			if($row['is_admin'] == 1){
				$admin_members[] = $row;
				$current_members[] = $row;

				// are we the group admin?
				if($row['member_id'] == $my_id){
					$group_access = true;
					$is_admin = true;
				}

			}
			else if($row['status'] == 1){
				$current_members[] = $row;

				// are we a member?
				if($row['member_id'] == $my_id){
					$group_access = true;
					$is_member = true;
				}
			}
			else if($row['status'] == 0){
				$pending_members[] = $row;

				// are we a pending member?
				if($row['member_id'] == $my_id){
					// $group_access = true;
					$is_pending_member = true;
				}
			}

		}
	}             

	// are we logged in?
	if($my_id != "" && $my_id != 0){
		// $group_access = true;
		$is_logged_in = true;
	}
	// do we just not care who views this page?
	// $group_access = true;

// is this a public group?
$is_public = false;
if($group_data['is_public'] == 1){
	$is_public = true;
}

// if we don't have the proper permissions...redirect them to the no-access page
if(!$group_access){
	if(!$is_logged_in){
		header('Location: '.$site_url.'community/groups/no-access/login');
	}
	else if(!$is_admin){
		header('Location: '.$site_url.'community/groups/no-access/admin');
	}
	else{
		header('Location: '.$site_url.'community/groups/no-access');  
	}
	exit();
}

$image_validation = true;

// resize and store cropped image - store a big version (450px) and a small version (120px)
if(!empty($_FILES['image']['name']) && $_FILES['image']['error'] == 0){
	// make sure they attempted to crop their image
	if($_POST){
		if($_POST['w'] == 0){
			$form_error = "Please crop your uploaded picture";
			$image_validation = false;
		}
	}
	$upload_dir = "/var/www/ee/images/group_profile_pics/";
	$image_info = getimagesize($_FILES['image']['tmp_name']);
	$extension = $image_info['mime'];

	$file_name = $_FILES['image']['name'];
	$file_name = explode(".",$file_name);
	$file_name = $file_name[0]."_".time().".jpg";
	$tmp_name = $_FILES['image']['tmp_name'];
	$file_size = $_FILES['image']['size'];

	if($extension != "image/jpeg" && $extension != "image/jpg" && $extension != "image/gif" && $extension != "image/png"){
		$form_error = "Please upload an image of type jpg, jpeg, gif, or png";
		$image_validation = false;
	}
	else{
		if($file_size > 2*1024*1024){
			$form_error = "Please upload an image smaller than 2MB";
			$image_validation = false;
		}
		else if($image_validation){
			if($extension == "image/jpg" || $extension == "image/jpeg"){
				$src_file = imagecreatefromjpeg($tmp_name);
			}
			else if($extension == "image/gif"){
				$src_file = imagecreatefromgif($tmp_name);
			}
			else if($extension == "image/png"){
				$src_file = imagecreatefrompng($tmp_name);
			}
			
			list($width,$height) = getimagesize($tmp_name);
			
			// the denominator of this equation must be equal to the value in "generate_preview.php", the file that generates the AJAX image preview!
			$resize_factor = $width/250;

			$tmp = imagecreatetruecolor(450, 450);
			imagecopyresampled($tmp, $src_file, 0, 0, $_POST['x']*$resize_factor, $_POST['y']*$resize_factor, 450, 450, $_POST['w']*$resize_factor, $_POST['h']*$resize_factor);      
			$profile_pic_file_path = $upload_dir.$file_name;
			imagejpeg($tmp,$profile_pic_file_path,85);

			$tmp = imagecreatetruecolor(120, 120);
			imagecopyresampled($tmp, $src_file, 0, 0, $_POST['x']*$resize_factor, $_POST['y']*$resize_factor, 120, 120, $_POST['w']*$resize_factor, $_POST['h']*$resize_factor);      
			$profile_pic_file_path = $upload_dir.'small/'.$file_name;
			imagejpeg($tmp,$profile_pic_file_path,85);
		}
	}
}

// set query depending on if we are adding / updating / deleting
if($image_validation && $group_id && isset($file_name)){
	$query = "UPDATE groups SET image_url='{$file_name}' WHERE id='{$group_id}'";
}
else if($image_validation && $group_id && !isset($file_name) && isset($_POST['delete_current_flag'])){
	if($_POST['delete_current_flag'] == 'yes'){
		$query = "UPDATE groups SET image_url='' WHERE id='{$group_id}'";
	}
}

// update group profile picture
if(isset($query)){
	if(!$this->EE->db->query($query)){
		$form_error = 'Error updating group picture.';
	}
	else{
		$form_message = '<span>Success!</span>Updated group picture!';
	}
}

// get group data
$group_results = $this->EE->db->query($does_group_exist_query);
foreach($group_results->result_array() as $row){
	$group_data = $row;
}

?>
{snip_group_heading}
<body>

<div id="externalPageWrapper">{!-- begin #externalPageWrapper --}

<div id="externalMastheadWrap">{!-- begin #externalMastheadWrap --}
<div id="internalMastheadWrap">{!-- begin #internalMastheadWrap --}
      
{snip_global_tool_bar}{!-- include global_tool_bar snippet --}
{snip_global_logo_and_nav}{!-- include global_logo_and_nav snippet --}
{snip_global_sub_nav}{!-- include global_sub_nav snippet --}

<script type="text/javascript">
// provide faux active states for primary and secondary nav elements without having to add pages into structure  
	var navelement1 = document.getElementById('nav-sub-community');
		if(navelement1) {
			navelement1.className += navelement1.className ? ' parent-active' : '';
		}
	var navelement2 = document.getElementById('nav-sub-groups');
		if(navelement2) {
			navelement2.className += navelement2.className ? ' parent-active' : '';
		}
</script>
    
</div>{!-- end .internalMastheadWrap --}
</div>{!-- end .externalMastheadWrap --}
  
<div id="mainContentArea">{!-- begin .mastheadMainContent --}

<?= $group_top_box ?>
<?= $group_tools ?>

<div class="fullContentRow top">
	<div class="externalFullBlock">
		<div class="internalFullBlock" style="position:relative;">
			<div class="blockHead">
				<h1 class="specialHeader">Edit Group Photo</h1>
			</div>
		</div>
	</div>
</div>

<?php 
	if(isset($form_error)) echo '<div class="form_error">'.$form_error.'</div>';
	if(isset($form_message)) echo '<div class="form_success">'.$form_message.'</div>';
?>

<div class="grayBG left">
<form id="update_photo" method="post" enctype="multipart/form-data">
<input type="hidden" name="XID" value="{XID_HASH}" />

<?php 
	if($group_data['image_url'] != ""){
		echo '
		<div id="currentImage">
			<div class="left" style="margin-right: 20px;">
			<h2>Current Image</h2><img class="currentImage" width="225" height="225" src="{site_url}/images/group_profile_pics/'.$group_data['image_url'].'" />
			<a class="removeAddLink" href="#" id="removeImage">Remove Current Image</a>
			</div>
		</div>'; 
	}
	?>
	<input type="hidden" id="delete_current_flag" name="delete_current_flag" />
	
	<div class="left">
		<h2>Change Photo</h2>
		<input style="width: 692px;" type="file" name="image" accept="image/gif, image/jpeg, image/jpg, image/png" />
		<div id="preview"></div>
	</div>
	
	<input type="hidden" size="4" id="x" name="x" />
	<input type="hidden" size="4" id="y" name="y" />
	<input type="hidden" size="4" id="w" name="w" />
	<input type="hidden" size="4" id="h" name="h" />
	<div class="clear"></div>
	<input type="submit" class="blueButtonPlain" value="Update Group Picture" />

</form>
</div>

<div class="clearBoth">&nbsp;</div>
<div id="externalSocialMediaSharingBlock">
	{snip_scroll_to_top}
</div>

<div class="clearBoth">&nbsp;</div>
</div>{!-- end #mainContentArea --}

{snip_global_footer}{!-- include global_footer snippet --}

</div>{!-- end #externalPageWrapper --}


<!-- START JAVASCRIPT -->
{snip_bring_js}
<script type="text/javascript">
$(document).ready(function(){
	
	// set delete current profile picture to true
	$('#removeImage').on('click',function(){
		$('#delete_current_flag').val('yes');
		$('#currentImage').remove();
		return false;
	});

	// generate ajax project image preview
	$('input[name=image]').on('change', function(){ 
		$("#preview").html("<img src='{site_url}images/uploads/ajax-loader.gif'/>");
		var options = {
			target: "#preview",
			url: "{path='global/generate_preview.php'}",
		}
		$("#update_photo").ajaxSubmit(options);
	});

	// allow jcropping functionality
	$(document).on('hover','#target',function(){
		$('#target').Jcrop({
			onChange: showCoords,
			onSelect: showCoords,
			aspectRatio: 1
		});
	});
	function showCoords(c){
		jQuery('#x').val(c.x);
		jQuery('#y').val(c.y);
		jQuery('#w').val(c.w);
		jQuery('#h').val(c.h);
	};
	
});
</script>
<!-- END JAVASCRIPT -->

</body>
<!-- end embed groups/picture -->