<?php // check to see what url segment to use to determine what categories to grab - right now only 'help' uses segment_2
	$this->EE =& get_instance();
	$sectionCheck = $this->EE->uri->segment(1);
  if ($sectionCheck == "help")
  { 
    $channelVar = $this->EE->uri->segment(1); //echo $channelVar;
    $sectionVar = $this->EE->uri->segment(1);
   }
  else 
  { 
    $channelVar = $this->EE->uri->segment(2); 
    $sectionVar = "perspectives/".$this->EE->uri->segment(2); 
   }
?>
{snip_browser_sniffer}<!DOCTYPE html><!-- ### template - tool_pages.group/help.html ### -->

<html<?php if( (isset($browser)) && (isset($version)) ) { echo ' class="'.$browser .' v'. $version.'"'; } ?>>
<head>

<title>{site_name} : {structure:page:title}</title>{!-- native EE title would be {exp:channel:entries channel="ch_home"}{title}{/exp:channel:entries} --}

{snip_global_default_meta_ogp_data}

{snip_page_meta_ogp}

<link rel="stylesheet" href="{stylesheet='global/styles.css'}" type="text/css" /><!-- include the global_styles css template -->
<link rel="stylesheet" href="{stylesheet='global/global_styles'}" type="text/css" />{!-- include the global_styles css template --}

{snip_global_header_links}

{snip_global_header_meta}

</head>

<body id="{structure:top:slug}" class="{structure:parent:slug} {structure:page:slug}  static">{!-- We grab the page top-level slug as id and parent aand page slugs as super-added classes --}

<a name="top"></a>

<div id="externalPageWrapper">{!-- begin #externalPageWrapper - 100% width, 100% full height, 0% margin, 0% padding --}

  <div id="externalMastheadWrap">{!-- begin #externalMastheadWrap - 100% width, 100% full height, 0% margin, 0% padding --}
    
    <div id="internalMastheadWrap">{!-- begin #internalMastheadWrap - fixed width, maybe fixed height too --}
          
      {snip_global_tool_bar}{!-- include global_tool_bar snippet --}
      
      {snip_global_logo_and_nav}{!-- include global_logo_and_nav snippet --}
      
      {snip_global_sub_nav}{!-- include global_sub_nav snippet --}
        
    </div>{!-- end .internalMastheadWrap - fixed width, fixed height --}
    
  </div>{!-- end .externalMastheadWrap - 100% width, 100% full height, 0% margin, 0% padding --}
    
  <div id="mainContentArea">{!-- begin .mastheadMainContent - fixed width, fixed height, centered --}
    
    {exp:channel:entries channel="ch_simple_page_content" limit="1" disable="pagination|member_data" dynamic="yes"}
    
      {if add_a_page_content_header == "Yes"}{!-- Check to see if we have header title/content --}
        <div class="content singleColumn">
          <div class="fullContentRow top">
            <div class="externalFullBlock">
              <div class="internalFullBlock">
                <div class="blockHead">
                  <h1 class="specialHeader">{if alt_title_for_header != ""}{alt_title_for_header}{if:else}{title}{/if}</h1>
                </div>{!-- end .blockHead --}
                {if content_for_page_header != ""}{content_for_page_header}{/if}
              </div>{!-- end .internalFullBlock --}
            </div>{!-- end .externalFullBlock --}
          </div>{!-- end .fullContentRow .top --}
        </div>{!-- end .content .singleColumn --}
      {/if}
      
      {if add_a_search_bar == "Yes"}{!-- Check to see if we have a search bar --}
        <div class="searchPanel">
        
          <div class="sectionHeading">
          
            <h2>Search Help</h2>
            
          </div><!-- end .sectionHeading -->
          
          <div class="searchPanelOptionsContainer">
          
            <div class="searchPanelContainer" style="margin-right: 20px;">
            
              <div class="marginpad">
                
                {exp:search:advanced_form channel="ch_help" results="10" paginate ="bottom" search_in="everywhere" result_page="help/search" no_result_page="help/search" status="not closed" where="all"}
                {!-- other options: show_expired="yes" status=published --}
                  
                  <input type="text" class="searchPanelInput" name="keywords" id="keywords" value="" size="20" maxlength="80">
                  
                  <div class="searchPanelButton">
                    <input name="submit" id="submit" type="image" src="/themes/wiki_themes/default/images/wiki-main-search.jpg">
                  </div>
                
                {/exp:search:advanced_form}
              
              </div><!-- end .marginpad -->
              
            </div><!-- end .searchPanelContainer -->
            
          </div><!-- end .searchPanelOptionsContainer -->
          
        </div><!-- end .searchPanel -->
      {/if}
    
      <div id="twoThirdsContentColumn" class="content twoThirdsContentColumn floatLeft">
        
        {if simple_page_content != ""}{!-- Check to see if we have page body content --}
          <div class="fullContentRow top">{!-- begin .fullContentRow --}      
            <div class="externalFullBlock staticPage">{!-- begin .externalFullBlock --}        
              <div class="internalFullBlock">{!-- begin .internalFullBlock --}    
                {simple_page_content}        
              </div>{!-- end .internalFullBlock --}        
            </div>{!-- end .externalFullBlock --}        
          </div>{!-- end .fullContentRow --}
        {/if}
      
      </div><!-- end #twoThirdsContentColumn .content .twoThirdsContentColumn .floatLeft -->
      
    {/exp:channel:entries}  
        
    <div id="oneThirdContentColumn" class="floatRight">
    
        {snip_help_categories_sidebar}
      
    </div><!-- end #oneThirdContentColumn .floatRight -->
    
    <div class="clearBoth">&nbsp;</div>
		
    <div id="externalSocialMediaSharingBlock">
      {snip_scroll_to_top}
      {snip_social_media_sharing}
    </div>
  
  <div class="clearBoth">&nbsp;</div>
   
  </div>{!-- end #mainContentArea --}
  
  {snip_global_footer}{!-- include global_footer snippet --}
  
  <!-- bring script -->
  {snip_bring_js}
  <!-- show/hide script -->
  {snip_show_hide_script}

</div>{!-- end #externalPageWrapper --}

</body>
</html>