<!DOCTYPE html>

<html>
<head>

<title>{site_name} : Home<!-- {structure:page:title} --></title><!-- native EE title would be {exp:channel:entries channel="ch_home"}{title}{/exp:channel:entries} -->

<link rel="stylesheet" href="{stylesheet='global/global_styles'}" type="text/css" /><!-- include the global_styles css template -->

{snip_global_header_links}

{snip_global_header_meta}

</head>

<body>
 
<!-- {exp:structure:breadcrumb here_as_title="yes" inc_here="yes"} --><!-- BREADCRUMBS ARE NOT USED ON HOME PAGE - just saving code-->

<div id="externalPageWrapper"><!-- begin #externalPageWrapper - 100% width, 100% full height, 0% margin, 0% padding -->

	<div id="externalMastheadWrap"><!-- begin #externalMastheadWrap - 100% width, 100% full height, 0% margin, 0% padding -->
  
		<div id="internalMastheadWrap"><!-- begin #internalMastheadWrap - fixed width, maybe fixed height too -->
      
			{snip_global_tool_bar}<!-- include global_tool_bar snippet -->

  		{snip_global_logo_and_nav}<!-- include global_logo_and_nav snippet -->
    
		</div><!-- end .internalMastheadWrap - fixed width, fixed height -->
  
  </div><!-- end .externalMastheadWrap - 100% width, 100% full height, 0% margin, 0% padding -->
  
  <div id="mainContentArea"><!-- begin .mastheadMainContent - fixed width, fixed height, centered -->

Put Content HERE

{snip_social_media_sharing}

		<div class="clearBoth">&nbsp;</div>
        
  </div><!-- end #mainContentArea - fixed width, fixed height, centered -->
  
  <div id="externalFooterWrap"><!-- begin #externalFooterWrap - 100% width, 100% full height, 0% margin, 0% padding -->
  
  	<div id="internalFooterWrap"><!-- begin #internalFooterWrap - fixed width, fixed height -->

			{snip_global_footer}<!-- include global_footer snippet -->
    
    </div><!-- end .internalFooterWrap - fixed width, fixed height -->
  
  </div><!-- end .externalFooterWrap - 100% width, 100% full height, 0% margin, 0% padding -->
  
</div><!-- end #externalPageWrapper - 100% width, 100% full height, 0% margin, 0% padding -->

</body>
</html>