<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!-- ### TEMPLATE perspectives.group/newsletter_output.html ### -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{exp:channel:entries channel="ch_newsletter" limit="1"}
<title>CAISE Newsletter - {title}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="The Center for Advancement of Informal Science Education (CAISE) is dedicated to advancing and improving the practice of informal science education in its many and varied forms—through film and broadcast media, science centers and museums, zoos and aquariums, botanical gardens and nature centers, digital media and gaming, and youth, community and after-school programs." />

<meta name="keywords" content="caise, nsf, ise, astc, informal science education, science education, museums, science centers, zoos, aquariums, botanical gardens, nature centers, youth education, community education, citizen science, after-school programs" />

<!-- begin displaying content from the wysiwyg editor - begin copy code -->

{newsletter_content}

<!-- end displaying content from the wysiwyg editor - end copy code -->
{/exp:channel:entries}
</body>
</html>