{snip_community_redirect}
<!-- ### template - users.group/change-password.html ### -->
<body id="{structure:top:slug}">
<a name="top"></a>

<div id="externalPageWrapper">{!-- begin #externalPageWrapper --}

<div id="externalMastheadWrap">{!-- begin #externalMastheadWrap --}
<div id="internalMastheadWrap">{!-- begin #internalMastheadWrap --}
      
{snip_global_tool_bar}{!-- include global_tool_bar snippet --}
{snip_global_logo_and_nav}{!-- include global_logo_and_nav snippet --}
{snip_global_sub_nav}{!-- include global_sub_nav snippet --}

<script type="text/javascript">
// provide faux active states for primary and secondary nav elements without having to add pages into structure  
var navelement1 = document.getElementById('tool-users');
    if(navelement1) {
      navelement1.className += navelement1.className ? ' active' : '';
    }
var navelement2 = document.getElementById('nav-sub-community');
    if(navelement2) {
      navelement2.className += navelement2.className ? ' parent-active' : '';
    }
var navelement3 = document.getElementById('nav-sub-sub-member-directory');
    if(navelement3) {
      navelement3.className += navelement3.className ? ' parent-active' : '';
    }

</script>
    
</div>{!-- end .internalMastheadWrap --}
</div>{!-- end .externalMastheadWrap --}
  
<div id="mainContentArea">{!-- begin .mastheadMainContent --}

<div class="staticPage profile">

<div class="content singleColumn">
{exp:zoo_visitor:details}
<div class="sectionHeading"><h2>{if member_firstname OR member_lastname}{visitor:member_firstname}'<?php $theName = "{visitor:member_firstname}"; $lastLetter = substr($theName, -1); if($lastLetter != 's') { echo "s"; } ?> Tools</h2></div>
	<div class="accountTools accountToolsFix">{snip_member_navigation}</div>
{/exp:zoo_visitor:details}

  <div class="fullContentRow top variation">
    <div class="externalFullBlock">
      <div class="internalFullBlock">
        <div class="blockHead">
          <h1 class="specialHeader">Change Password</h1>
        </div>{!-- end .blockHead --}
      </div>{!-- end .internalFullBlock --}
    </div>{!-- end .externalFullBlock --}
  </div>{!-- end .fullContentRow .top --}
</div>{!-- end .content .singleColumn --}

{if logged_in AND segment_4 == "success"}
	
	<div class="form_success"><span>Success!</span> Password updated.</div>
  

{if:elseif logged_in}

	{exp:zoo_visitor:update_form error_handling="inline" return="community/users/change-password/success"}

		{field_errors}<div class="form_error">{error}</div>{/field_errors}
		
		<div class="projectFormField clearMarginTop">
			<label for="current_password" class="label left selectTop">Current password:</label>
			<input class="validate[required] projectFieldFull left" type="password" name="current_password" id="current_password" />
		</div>
    
    <div class="clearBoth">&nbsp;</div>

		<div class="projectFormField marginRight">
			<label for="new_password" class="label left selectTop">New password</label>
			<input class="validate[required,minSize[6]] projectFieldDrop left" type="password" name="new_password" id="new_password" />
		</div>
		
		<div class="projectFormField">
			<label for="new_password_confirm" class="label left selectTop">Confirm New password</label>
			<input class="validate[required,minSize[6],equals[new_password]] projectFieldDrop left" type="password" name="new_password_confirm" id="new_password_confirm" />
		</div>
		
		<div class="clearBoth">&nbsp;</div>
    
		<div class="left addMarginTop">
			<input type="submit" value="Change Password" class="blueButtonPlain"/>
		</div>
    
		<div class="clearBoth">&nbsp;</div>

	{/exp:zoo_visitor:update_form}
  
  <br /><br />
	
<!-- START JAVASCRIPT -->
{snip_bring_js_nojquery}
<script type="text/javascript">
	$(document).ready(function() {
		// using validation plugin to client-side validate form // validation rules are written inline with the HTML
		$("#zoo_visitor_form").validationEngine();
	});
</script>
<!-- END JAVASCRIPT -->

{if:else}
  {snip_not_logged_in}	
{/if}

</div><!-- end .staticPage profile -->

<div class="clearBoth">&nbsp;</div>
		
  <div id="externalSocialMediaSharingBlock">
    {snip_scroll_to_top}
    {!-- snip_social_media_sharing --}
  </div>

<div class="clearBoth">&nbsp;</div>

</div>{!-- end #mainContentArea --}

{snip_global_footer}{!-- include global_footer snippet --}

</div>{!-- end #externalPageWrapper --}

</body>
<!-- ### template embed - users.group/change_password.html ###