{snip_community_redirect}
<!-- ### USERS template LOGIN embed - users.group/forgot-password.html ### -->
<body id="{structure:top:slug}"> 

<div id="externalPageWrapper">{!-- begin #externalPageWrapper --}

<div id="externalMastheadWrap">{!-- begin #externalMastheadWrap --}
<div id="internalMastheadWrap">{!-- begin #internalMastheadWrap --}
			
{snip_global_tool_bar}{!-- include global_tool_bar snippet --}
{snip_global_logo_and_nav}{!-- include global_logo_and_nav snippet --}
{snip_global_sub_nav}{!-- include global_sub_nav snippet --}

<script type="text/javascript">
// provide faux active states for primary and secondary nav elements without having to add pages into structure  
	var navelement1 = document.getElementById('nav-sub-community');
		if(navelement1) {
			navelement1.className += navelement1.className ? ' parent-active' : '';
		}
	var navelement2 = document.getElementById('nav-sub-sub-member-directory');
		if(navelement2) {
			navelement2.className += navelement2.className ? ' parent-active' : '';
		}
	var navelement3 = document.getElementById('tool-users');
		if(navelement3) {
			navelement3.className += navelement3.className ? ' active' : '';
		}
</script>
		
</div>{!-- end .internalMastheadWrap --}
</div>{!-- end .externalMastheadWrap --}
	
<div id="mainContentArea">{!-- begin .mastheadMainContent --}

<div class="content singleColumn">
	<div class="fullContentRow top">
		<div class="externalFullBlock">
			<div class="internalFullBlock">
				<div class="blockHead">
					<h1 class="specialHeader">Forgot Password</h1>
				</div><!-- end .blockHead -->
				{if logged_in}
					{exp:zoo_visitor:details}
						<p>{if member_firstname OR member_lastname}<strong>Welcome, {visitor:member_firstname}{if member_firstname == "Site" OR member_firstname == ""} {visitor:member_lastname}</strong>{/if}
						({username})! &nbsp; You are already registered and logged in. &nbsp; 
						<a href="{path=logout}">Logout</a>, or go to your <a href="{path=community/users/profile}">profile</a>.</p>
					{/exp:zoo_visitor:details}
				{/if}
			</div><!-- end .internalFullBlock -->
		</div><!-- end .externalFullBlock -->
	</div><!-- end .fullContentRow .top -->
</div><!-- end .content .singleColumn -->

{if logged_out}

	{exp:zoo_visitor:forgot_password error_handling="inline" reset_url="/community/users/reset-password"}
		{if password_sent}
			<div class="form_success"><span>Success!</span>A password reset mail has been sent to the provided email.</div>
		{if:else}
			{if error:email}<div class="form_error">{error:email}</div>{/if}

			<div class="projectFormField">
				<label class="label left selectTop" for="email">Your email:</label>
				<input class="validate[required] projectFieldFull left" type="text" name="email" id="email" />
			</div>

			<div class="clear"></div>
			<div class="left">
				<input type="submit" value="Retrieve Password" class="blueButtonPlain addMarginTop"/>
			</div>
			<div class="clearBoth">&nbsp;</div>
		{/if}
	{/exp:zoo_visitor:forgot_password}

{/if}
 
<div class="clearBoth">&nbsp;</div>
<div id="externalSocialMediaSharingBlock">
  {snip_scroll_to_top}
  {!--{snip_social_media_sharing}--}
</div>

<div class="clearBoth">&nbsp;</div>
</div><!-- end #mainContentArea - fixed width, fixed height, centered -->

{snip_global_footer}<!-- include global_footer snippet -->

</div><!-- end #externalPageWrapper - 100% width, 100% full height, 0% margin, 0% padding -->

<!-- START JAVASCRIPT -->
{snip_bring_js}
<script type="text/javascript">
$(document).ready(function() {
	// using validation plugin to client-side validate form // validation rules are written inline with the HTML
	$("#forgot_password_form").validationEngine();
});
</script>
<!-- END JAVASCRIPT -->

</body>
<!-- ### end USERS template FORGOT PASSWORD embed - users.group/forgot-password.html ### -->