<?php

$this->EE =& get_instance();

$site_url = $this->EE->config->config['site_url'];

$form_validation = true;
$form_error = "";

if($_GET && isset($_GET['action'])){
	if($_GET['action'] == 'delete'){
		
		$id = "";
		$secret = "";

		$id = $this->EE->db->escape_str($_GET['id']);
		$secret = $this->EE->db->escape_str($_GET['secret']);

		$form_validation = true;
		$form_error = "";

		// does document exist?
		$secret_query = "SELECT * FROM member_documents WHERE id = '{$id}'";
		$secret_results = $this->EE->db->query($secret_query);
		if($secret_results->num_rows()){
			foreach($secret_results->result_array() as $row){
				$db_secret = $row['document_secret'];
			}	
		}
		else{
			$form_error = 'Error deleting document (document does not exist)';
			$form_validation = false;
		}

		if($form_validation){
			if($secret == $db_secret){
				$delete_query = "DELETE FROM member_documents WHERE id = '{$id}'";
				if(!$this->EE->db->query($delete_query)){
					$form_error = "Error deleting document (database query malformed)";
					$form_validation = false;
				}
			}
			else{
				$form_error = "Error deleting this document";
				$form_validation = false;
			}
		}

		if(!$form_validation){
			echo '<div class="form_error">'.$form_error.'</div>';
		}
		else{
			echo '<div class="form_success"><span>Success!</span>Removed document from profile</div>';
		}
		

	}
}

if($_POST && isset($_POST['submit_form'])){
	ee()->security->restore_xid();
		
	$document_url = "";
	$document_name = "";
	$document_secret = "";
	$document_type = "";
	$member_id = "";

	// move uploaded file
	if($_FILES['document']['error'] == 0){
		$name = $_FILES['document']['name'];
		$type = $_FILES['document']['type'];
		$tmp_name = $_FILES['document']['tmp_name'];
		$size = $_FILES['document']['size'];

		// check for right file type
		$ext = pathinfo($_FILES['document']['name'], PATHINFO_EXTENSION);
		if($ext != 'doc' && $ext != 'docx' && $ext !='pdf'){ // we want to only allow doc, docx, pdf
			$form_error = "Please upload a file with format .doc, .docx, OR .pdf";
			$form_validation = false;
		}
		else{
			$document_name = $name;
			$document_url = date('Y-m-d')."_".$name;
			$upload_dir = "/var/www/ee/documents/member_documents/";
			move_uploaded_file($tmp_name, $upload_dir.$document_url);
		}
	}
	else{
		$form_error = "Error uploading file";
		$form_validation = false;
	}

	if(isset($_POST['user_id'])) $member_id = $this->EE->db->escape_str($_POST['user_id']);
	if(isset($_POST['type']))	$document_type = $this->EE->db->escape_str($_POST['type']);

	$document_secret = md5(mt_rand());

	// time to insert file metadata into database
	if($form_validation){
		if($document_url != "" && $document_name != "" && $member_id){
			$file_query = "INSERT INTO 
			member_documents (document_type,document_url,document_name,document_secret,member_id)
			VALUES
			('{$document_type}','{$document_url}','{$document_name}','{$document_secret}','{$member_id}')";
			if(!$this->EE->db->query($file_query)){
				$form_error = "Error inserting into database";
				$form_validation = false;
			}
		}
	}

	// send back success/failure message
	if(!$form_validation){
		echo '<div class="form_error">'.$form_error.'</div>';
	}
	else{
		echo '<div class="form_success"><span>Success!</span>Added document to profile</div>';
	}
	
}

?>