{snip_community_redirect}
<!-- ### template - users.group/change-password.html ### -->
<body id="{structure:top:slug}">
<a name="top"></a>

<div id="externalPageWrapper">{!-- begin #externalPageWrapper --}

<div id="externalMastheadWrap">{!-- begin #externalMastheadWrap --}
<div id="internalMastheadWrap">{!-- begin #internalMastheadWrap --}
      
{snip_global_tool_bar}{!-- include global_tool_bar snippet --}
{snip_global_logo_and_nav}{!-- include global_logo_and_nav snippet --}
{snip_global_sub_nav}{!-- include global_sub_nav snippet --}

<script type="text/javascript">
// provide faux active states for primary and secondary nav elements without having to add pages into structure  
var navelement1 = document.getElementById('tool-users');
    if(navelement1) {
      navelement1.className += navelement1.className ? ' active' : '';
    }
var navelement2 = document.getElementById('nav-sub-community');
    if(navelement2) {
      navelement2.className += navelement2.className ? ' parent-active' : '';
    }
var navelement3 = document.getElementById('nav-sub-sub-member-directory');
    if(navelement3) {
      navelement3.className += navelement3.className ? ' parent-active' : '';
    }

</script>
    
</div>{!-- end .internalMastheadWrap --}
</div>{!-- end .externalMastheadWrap --}
  
<div id="mainContentArea">{!-- begin .mastheadMainContent --}

<div class="content singleColumn">
	<div class="fullContentRow top">
		<div class="externalFullBlock">
			<div class="internalFullBlock">
				<div class="blockHead">
					<h1 class="specialHeader">Forgot Password</h1>
				</div><!-- end .blockHead -->
				{if logged_in}
					{exp:zoo_visitor:details}
						<p>{if member_firstname OR member_lastname}<strong>Welcome, {visitor:member_firstname}{if member_firstname == "Site" OR member_firstname == ""} {visitor:member_lastname}</strong>{/if}
						({username})! &nbsp; You are already registered and logged in. &nbsp; 
						<a href="{path=logout}">Logout</a>, or go to your <a href="{path=community/users/profile}">profile</a>.</p>
					{/exp:zoo_visitor:details}
				{/if}
			</div><!-- end .internalFullBlock -->
		</div><!-- end .externalFullBlock -->
	</div><!-- end .fullContentRow .top -->
</div><!-- end .content .singleColumn -->

{if segment_4 == "success"}
	
	<div class="form_success"><span>Success!</span> Password updated.</div>
  

{if:elseif logged_out}

	{exp:zoo_visitor:reset_password error_handling="inline"}
		
		{if password_reset}
			<div class="form_success"><span>Success!</span>Your password has been reset. You may now <a href="/community/users/login">login.</a></div>
		{if:else}

			{if error:password}<div class="form_error">{error:password}</div>{/if}

			<div class="projectFormField marginRight">
				<label for="password" class="label left selectTop">New password</label>
				<input class="validate[required,minSize[6]] projectFieldDrop left" type="password" name="password" id="password" />
			</div>
		
			<div class="projectFormField">
				<label for="password_confirm" class="label left selectTop">Confirm New password</label>
				<input class="validate[required,minSize[6],equals[password]] projectFieldDrop left" type="password" name="password_confirm" id="password_confirm" />
			</div>
		
			<div class="clearBoth">&nbsp;</div>
    
			<div class="left addMarginTop">
				<input type="submit" value="Reset Password" class="blueButtonPlain"/>
			</div>
    
			<div class="clearBoth">&nbsp;</div>
		{/if}

	{/exp:zoo_visitor:reset_password}
  
  <br /><br />
	
<!-- START JAVASCRIPT -->
{snip_bring_js_nojquery}
<script type="text/javascript">
	$(document).ready(function() {
		// using validation plugin to client-side validate form // validation rules are written inline with the HTML
		$("#zoo_visitor_form").validationEngine();
	});
</script>
<!-- END JAVASCRIPT -->

{if:else}
  {snip_not_logged_in}	
{/if}

</div><!-- end .staticPage profile -->

<div class="clearBoth">&nbsp;</div>
		
  <div id="externalSocialMediaSharingBlock">
    {snip_scroll_to_top}
    {!-- snip_social_media_sharing --}
  </div>

<div class="clearBoth">&nbsp;</div>

</div>{!-- end #mainContentArea --}

{snip_global_footer}{!-- include global_footer snippet --}

</div>{!-- end #externalPageWrapper --}

</body>
<!-- ### template embed - users.group/change_password.html ###